<a href="https://colab.research.google.com/github/JamesonThornton/UCB_DataBootcamp_Final_Project/blob/Maher/Analysis/Database_data_cleanup_01_25_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import psycopg2
from psycopg2 import sql
import os
from getpass import getpass

In [ ]:
PGEND_POINT = 'f1stats.cos0zhtpa15v.us-east-1.rds.amazonaws.com' # End_point
PGDATABASE_NAME = 'F1_stats' # Database name
PGUSER_NAME = 'postgres' # UserName
PGPASSWORD = getpass('Enter database password')

Enter database password··········

In [ ]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ PGEND_POINT +" port="+ "5432" +" dbname="+ PGDATABASE_NAME +" user=" + PGUSER_NAME \
                  +" password="+ PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [ ]:
conn, cursor = connect()

Connected!

In [ ]:
#Read in query results from each tables in the database
circuits = sql.SQL("""SELECT * FROM circuits""");
constructors = sql.SQL("""SELECT * FROM constructors""");
driver_stnd = sql.SQL("""SELECT * FROM driver_stnd""");
drivers = sql.SQL("""SELECT * FROM drivers""");
lap_times = sql.SQL("""SELECT * FROM lap_times""");
pit_stops = sql.SQL("""SELECT * FROM pit_stops""");
quali = sql.SQL("""SELECT * FROM quali""");
races = sql.SQL("""SELECT * FROM races""");
results = sql.SQL("""SELECT * FROM results""");
resultsplus = sql.SQL("""SELECT * FROM results_merged""");
sprint_rslt = sql.SQL("""SELECT * FROM sprint_rslt""");
status = sql.SQL("""SELECT * FROM status""");
final = sql.SQL("""SELECT * FROM final_merged_table""");

In [ ]:
#Check that query results are read in properly using circuits table
cur = conn.cursor()
cur.execute(circuits)
print(cur.fetchall())

[(1, 'albert_park', 'Albert Park Grand Prix Circuit'), (2, 'sepang', 'Sepang International Circuit'), (3, 'bahrain', 'Bahrain International Circuit'), (4, 'catalunya', 'Circuit de Barcelona-Catalunya'), (5, 'istanbul', 'Istanbul Park'), (6, 'monaco', 'Circuit de Monaco'), (7, 'villeneuve', 'Circuit Gilles Villeneuve'), (8, 'magny_cours', 'Circuit de Nevers Magny-Cours'), (9, 'silverstone', 'Silverstone Circuit'), (10, 'hockenheimring', 'Hockenheimring'), (11, 'hungaroring', 'Hungaroring'), (12, 'valencia', 'Valencia Street Circuit'), (13, 'spa', 'Circuit de Spa-Francorchamps'), (14, 'monza', 'Autodromo Nazionale di Monza'), (15, 'marina_bay', 'Marina Bay Street Circuit'), (16, 'fuji', 'Fuji Speedway'), (17, 'shanghai', 'Shanghai International Circuit'), (18, 'interlagos', 'Autódromo José Carlos Pace'), (19, 'indianapolis', 'Indianapolis Motor Speedway'), (20, 'nurburgring', 'Nürburgring'), (21, 'imola', 'Autodromo Enzo e Dino Ferrari'), (22, 'suzuka', 'Suzuka Circuit'), (24, 'yas_marina', 'Yas Marina Circuit'), (25, 'galvez', 'Autódromo Juan y Oscar Gálvez'), (26, 'jerez', 'Circuito de Jerez'), (27, 'estoril', 'Autódromo do Estoril'), (28, 'okayama', 'Okayama International Circuit'), (29, 'adelaide', 'Adelaide Street Circuit'), (30, 'kyalami', 'Kyalami'), (31, 'donington', 'Donington Park'), (32, 'rodriguez', 'Autódromo Hermanos Rodríguez'), (33, 'phoenix', 'Phoenix street circuit'), (34, 'ricard', 'Circuit Paul Ricard'), (35, 'yeongam', 'Korean International Circuit'), (36, 'jacarepagua', 'Autódromo Internacional Nelson Piquet'), (37, 'detroit', 'Detroit Street Circuit'), (38, 'brands_hatch', 'Brands Hatch'), (39, 'zandvoort', 'Circuit Park Zandvoort'), (40, 'zolder', 'Zolder'), (41, 'dijon', 'Dijon-Prenois'), (42, 'dallas', 'Fair Park'), (43, 'long_beach', 'Long Beach'), (44, 'las_vegas', 'Las Vegas Street Circuit'), (45, 'jarama', 'Jarama'), (46, 'watkins_glen', 'Watkins Glen'), (47, 'anderstorp', 'Scandinavian Raceway'), (48, 'mosport', 'Mosport International Raceway'), (49, 'montjuic', 'Montjuïc'), (50, 'nivelles', 'Nivelles-Baulers'), (51, 'charade', 'Charade Circuit'), (52, 'tremblant', 'Circuit Mont-Tremblant'), (53, 'essarts', 'Rouen-Les-Essarts'), (54, 'lemans', 'Le Mans'), (55, 'reims', 'Reims-Gueux'), (56, 'george', 'Prince George Circuit'), (57, 'zeltweg', 'Zeltweg'), (58, 'aintree', 'Aintree'), (59, 'boavista', 'Circuito da Boavista'), (60, 'riverside', 'Riverside International Raceway'), (61, 'avus', 'AVUS'), (62, 'monsanto', 'Monsanto Park Circuit'), (63, 'sebring', 'Sebring International Raceway'), (64, 'ain-diab', 'Ain Diab'), (65, 'pescara', 'Pescara Circuit'), (66, 'bremgarten', 'Circuit Bremgarten'), (67, 'pedralbes', 'Circuit de Pedralbes'), (68, 'buddh', 'Buddh International Circuit'), (69, 'americas', 'Circuit of the Americas'), (70, 'red_bull_ring', 'Red Bull Ring'), (71, 'sochi', 'Sochi Autodrom'), (73, 'baku', 'Baku City Circuit'), (75, 'portimao', 'Autódromo Internacional do Algarve'), (76, 'mugello', 'Autodromo Internazionale del Mugello'), (77, 'jeddah', 'Jeddah Corniche Circuit'), (78, 'losail', 'Losail International Circuit'), (79, 'miami', 'Miami International Autodrome')]

In [ ]:
# Circuits dataframe

cur = conn.cursor()
cur.execute(circuits)

circuit_df = pd.DataFrame(cur.fetchall(), columns=['circuitId', 'circuitRef', 'circ_name'])
circuit_df.head(10)
# circuit_df.shape

   circuitId      circuitRef                       circ_name
0          1     albert_park  Albert Park Grand Prix Circuit
1          2          sepang    Sepang International Circuit
2          3         bahrain   Bahrain International Circuit
3          4       catalunya  Circuit de Barcelona-Catalunya
4          5        istanbul                   Istanbul Park
5          6          monaco               Circuit de Monaco
6          7      villeneuve       Circuit Gilles Villeneuve
7          8     magny_cours   Circuit de Nevers Magny-Cours
8          9     silverstone             Silverstone Circuit
9         10  hockenheimring                  Hockenheimring

In [ ]:
# Driver Standings dataframe

cur = conn.cursor()
cur.execute(driver_stnd)

driver_stnd_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'points', 'position', 'wins'])
driver_stnd_df.head(10)
# driver_stnd_df.shape

   driverId  raceId points position  wins
0         1      18     10        1     1
1         2      18      8        2     0
2         3      18      6        3     0
3         4      18      5        4     0
4         5      18      4        5     0
5         6      18      3        6     0
6         7      18      2        7     0
7         8      18      1        8     0
8         1      19     14        1     1
9         2      19     11        3     0

In [ ]:
# Drivers dataframe

cur = conn.cursor()
cur.execute(drivers)

drivers_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'dob', 'nationality', 'dob_formatted'])
drivers_df.head(10)
# drivers_df.shape

   driverId         dob nationality dob_formatted
0        66  12/29/1969     British          1969
1        78   3/19/1964     Italian          1964
2        79   5/29/1963    Japanese          1963
3        80   10/7/1966     Italian          1966
4        81   1/13/1968     Italian          1968
5        82   1/20/1975   Argentine          1975
6        83   3/20/1972  Portuguese          1972
7        84    6/1/1959     British          1959
8        85   5/30/1964     Italian          1964
9        86   2/18/1958     Italian          1958

In [ ]:
# Lap Times dataframe

cur = conn.cursor()
cur.execute(lap_times)

lap_times_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'lap', 'position', 'lap_ms'])
lap_times_df.head(10)
# lap_times_df.shape

   driverId  raceId  lap position  lap_ms
0        20     841    1        1   98109
1        20     841    2        1   93006
2        20     841    3        1   92713
3        20     841    4        1   92803
4        20     841    5        1   92342
5        20     841    6        1   92605
6        20     841    7        1   92502
7        20     841    8        1   92537
8        20     841    9        1   93240
9        20     841   10        1   92572

In [ ]:
# Pit Stops dataframe

cur = conn.cursor()
cur.execute(pit_stops)

pit_stops_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'lap', 'pit_ms'])
pit_stops_df.head(10)
# pit_stops_df.shape

   driverId  raceId  lap  pit_ms
0       153     841    1   26898
1        30     841    1   25021
2        17     841   11   23426
3         4     841   12   23251
4        13     841   13   23842
5        22     841   13   23643
6        20     841   14   22603
7       814     841   14   24863
8       816     841   14   25259
9        67     841   15   25342

In [ ]:
# Qualifying dataframe

cur = conn.cursor()
cur.execute(quali)

quali_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'position', 'q1', 'q2', 'q3'])
quali_df.head(10)
# quali_df.shape

   driverId  raceId position       q1       q2       q3
0         1      18        1  01:26.6  01:25.2  01:26.7
1         9      18        2  01:26.1  01:25.3  01:26.9
2         5      18        3  01:25.7  01:25.5  01:27.1
3        13      18        4  01:26.0  01:25.7  01:27.2
4         2      18        5  01:26.0  01:25.5  01:27.2
5        15      18        6  01:26.4  01:26.1  01:28.5
6         3      18        7  01:26.3  01:26.1  01:28.7
7        14      18        8  01:26.4  01:26.1  01:29.0
8        10      18        9  01:26.9  01:26.2  01:29.6
9        13      19        1  01:35.3  01:34.4  01:35.7

In [ ]:
# Results dataframe

cur = conn.cursor()
cur.execute(results)

results_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'fastestLap', 'rank', 'race_ms', 'fastestLapTime', 'fastestLapSpeed', 'statusId'])
results_df.head(10)
# results_df.shape

,driverId,raceId,grid,position,positionText,positionOrder,points,laps,fastestLap,rank,race_ms,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10,58,39,2,5690616,01:27.5,218.3,1
1,2,18,5,2,2,2,8,58,41,3,5696094,01:27.7,217.586,1
2,3,18,7,3,3,3,6,58,41,5,5698779,01:28.1,216.719,1
3,4,18,11,4,4,4,5,58,58,7,5707797,01:28.6,215.464,1
4,5,18,3,5,5,5,4,58,43,1,5708630,01:27.4,218.385,1
5,30,111,1,1,1,1,10,62,None,None,5292058,None,None,1
6,8,111,6,2,2,2,8,62,None,None,5293940,None,None,1
7,22,111,3,3,3,3,6,62,None,None,5294349,None,None,1
8,23,111,2,4,4,4,5,62,None,None,5300861,None,None,1
9,14,111,12,5,5,5,4,62,None,None,5301469,None,None,1

In [ ]:
# Sprint Results dataframe

cur = conn.cursor()
cur.execute(sprint_rslt)

sprint_rslt_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'grid', 'position', 'points', 'quali_ms', 'fastestLap', 'fastestLapTime', 'statusId'])
sprint_rslt_df.head(10)
# sprint_rslt_df.shape

,driverId,raceId,grid,position,points,quali_ms,fastestLap,fastestLapTime,statusId
0,830,1061,2,1,3,1538426,14,01:30.0,1
1,1,1061,1,2,2,1539856,17,01:29.9,1
2,822,1061,3,3,1,1545928,17,01:30.0,1
3,844,1061,4,4,0,1549704,16,01:30.2,1
4,846,1061,6,5,0,1562537,16,01:30.6,1
5,817,1061,7,6,0,1569385,17,01:30.6,1
6,4,1061,11,7,0,1581953,17,01:31.8,1
7,20,1061,10,8,0,1582865,17,01:31.7,1
8,847,1061,8,9,0,1585078,17,01:32.2,1
9,839,1061,13,10,0,1585821,16,01:32.2,1

In [ ]:
# Status dataframe

cur = conn.cursor()
cur.execute(status)

status_df = pd.DataFrame(cur.fetchall(), columns=['statusId', 'status'])
status_df.head(10)
# status_df.shape

   statusId       status
0         1     Finished
1         2  Regulations
2         3     Accident
3         4     Accident
4         5   Mechanical
5         6   Mechanical
6         7   Mechanical
7         8   Mechanical
8         9   Mechanical
9        10   Mechanical

In [ ]:
# Races dataframe

cur = conn.cursor()
cur.execute(races)

races_df = pd.DataFrame(cur.fetchall(), columns=['raceId','year','round','circuitId','races_name','date'])
races_df.head(10)
# races_df.shape

   raceId  year  round  circuitId             races_name        date
0       1  2009      1          1  Australian Grand Prix  2009-03-29
1       2  2009      2          2   Malaysian Grand Prix  2009-04-05
2       3  2009      3         17     Chinese Grand Prix  2009-04-19
3       4  2009      4          3     Bahrain Grand Prix  2009-04-26
4       5  2009      5          4     Spanish Grand Prix  2009-05-10
5       6  2009      6          6      Monaco Grand Prix  2009-05-24
6       7  2009      7          5     Turkish Grand Prix  2009-06-07
7       8  2009      8          9     British Grand Prix  2009-06-21
8       9  2009      9         20      German Grand Prix  2009-07-12
9      10  2009     10         11   Hungarian Grand Prix  2009-07-26

In [ ]:
# Constructors dataframe

cur = conn.cursor()
cur.execute(constructors)

constructors_df = pd.DataFrame(cur.fetchall(), columns=['constructorId','constructorRef','constname','constnationality'])
constructors_df.head(10)
# constructors_df.shape

Empty DataFrame
Columns: [constructorId, constructorRef, constname, constnationality]
Index: []

In [ ]:
# Resultsplus dataframe

cur = conn.cursor()
cur.execute(resultsplus)

resultsplus_df = pd.DataFrame(cur.fetchall(), columns=['driverId','raceId','grid','results_position','positionText','positionOrder','results_points','results_laps','fastestLap','rank','race_ms','results_fastestlaptime','fastestLapSpeed','statusId','status','year','round','circuitId','races_name','date'])
resultsplus_df.head(10)
resultsplus_df.shape

(25840, 20)

In [ ]:
# Final dataframe

cur = conn.cursor()
cur.execute(final)

final_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'dob', 'nationality', 'dob_formatted',
                                                 'raceId','grid','results_position','positionText','positionOrder','results_points','results_laps','fastestLap','rank','race_ms','results_fastestlaptime','fastestLapSpeed','statusId','status','year','round','circuitId','races_name','date',
                                                 'dstnd_points','dstnd_position','wins',
                                                 'lapt_lap','lapt_position','lap_ms',
                                                 'pit_lap','pit_ms',
                                                 'quali_position',
                                                 'sprslt_grid','sprslt_position','sprslt_points','sprslt_quali_ms','sprslt_fastestLap','sprslt_fastestlaptime'])
final_df.head(10)

,driverId,dob,nationality,dob_formatted,raceId,grid,results_position,positionText,positionOrder,results_points,...,lap_ms,pit_lap,pit_ms,quali_position,sprslt_grid,sprslt_position,sprslt_points,sprslt_quali_ms,sprslt_fastestLap,sprslt_fastestlaptime
0,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,74254.0,8.0,18660.0,1,20.0,5,0,1770431,5,01:12.4
1,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,74254.0,43.0,22664.0,1,20.0,5,0,1770431,5,01:12.4
2,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,74254.0,7.0,17910.0,1,20.0,5,0,1770431,5,01:12.4
3,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,74254.0,26.0,22690.0,1,20.0,5,0,1770431,5,01:12.4
4,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,73860.0,8.0,18660.0,1,20.0,5,0,1770431,5,01:12.4
5,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,73860.0,43.0,22664.0,1,20.0,5,0,1770431,5,01:12.4
6,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,73860.0,7.0,17910.0,1,20.0,5,0,1770431,5,01:12.4
7,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,73860.0,26.0,22690.0,1,20.0,5,0,1770431,5,01:12.4
8,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,83099.0,8.0,18660.0,1,20.0,5,0,1770431,5,01:12.4
9,1,1/7/1985,British,1985,1071.0,10.0,1,1,1.0,25,...,83099.0,43.0,22664.0,1,20.0,5,0,1770431,5,01:12.4

In [ ]:
final_df.shape

(16888, 38)

In [ ]:
final_df.dtypes

driverId                    int64
dob                        object
nationality                object
dob_formatted              object
raceId                    float64
grid                      float64
results_position           object
positionText               object
positionOrder             float64
results_points             object
results_laps              float64
fastestLap                 object
rank                       object
race_ms                    object
results_fastestlaptime     object
fastestLapSpeed            object
statusId                  float64
status                     object
year                      float64
round                     float64
circuitId                 float64
races_name                 object
date                       object
dstnd_points               object
dstnd_position             object
wins                      float64
lapt_lap                  float64
lapt_position              object
lap_ms                    float64
pit_lap                   float64
pit_ms                    float64
quali_position             object
sprslt_grid               float64
sprslt_position            object
sprslt_points              object
sprslt_quali_ms            object
sprslt_fastestLap          object
sprslt_fastestlaptime      object
dtype: object

In [ ]:
final_df.isna().sum()

driverId                     0
dob                          0
nationality                  0
dob_formatted                0
raceId                     831
grid                       831
results_position          1704
positionText               831
positionOrder              831
results_points             831
results_laps               831
fastestLap                 831
rank                       831
race_ms                   8576
results_fastestlaptime     831
fastestLapSpeed            831
statusId                   831
status                     831
year                       831
round                      831
circuitId                  831
races_name                 831
date                       831
dstnd_points               831
dstnd_position             831
wins                       831
lapt_lap                   831
lapt_position              831
lap_ms                     831
pit_lap                    831
pit_ms                     831
quali_position             831
sprslt_grid                831
sprslt_position            831
sprslt_points              831
sprslt_quali_ms            831
sprslt_fastestLap         1103
sprslt_fastestlaptime      831
dtype: int64

In [ ]:
#Putting all 8576 rows with nulls in a dataframe for various explorative purposes
null_df= final_df[final_df.isna().sum(1) > 0]
null_df.head(10)

,driverId,dob,nationality,dob_formatted,raceId,grid,results_position,positionText,positionOrder,results_points,...,lap_ms,pit_lap,pit_ms,quali_position,sprslt_grid,sprslt_position,sprslt_points,sprslt_quali_ms,sprslt_fastestLap,sprslt_fastestlaptime
144,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,76305.0,34.0,24375.0,10,9.0,12,0,1786137,4,01:13.4
145,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,76305.0,8.0,17705.0,10,9.0,12,0,1786137,4,01:13.4
146,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,76305.0,7.0,17751.0,10,9.0,12,0,1786137,4,01:13.4
147,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,75237.0,34.0,24375.0,10,9.0,12,0,1786137,4,01:13.4
148,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,75237.0,8.0,17705.0,10,9.0,12,0,1786137,4,01:13.4
149,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,75237.0,7.0,17751.0,10,9.0,12,0,1786137,4,01:13.4
150,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,75036.0,34.0,24375.0,10,9.0,12,0,1786137,4,01:13.4
151,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,75036.0,8.0,17705.0,10,9.0,12,0,1786137,4,01:13.4
152,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,75036.0,7.0,17751.0,10,9.0,12,0,1786137,4,01:13.4
153,4,7/29/1981,Spanish,1981,1071.0,12.0,9,9,9.0,2,...,73922.0,34.0,24375.0,10,9.0,12,0,1786137,4,01:13.4

In [ ]:
#dataframe where the common null 831 rows are all dropped, but the rest left
perc = 85
limit = int(((100-perc)/100)*final_df.shape[1])
mod_final_df = final_df.dropna(axis=0, thresh=limit)
mod_final_df.isna().sum()

driverId                     0
dob                          0
nationality                  0
dob_formatted                0
raceId                       0
grid                         0
results_position           873
positionText                 0
positionOrder                0
results_points               0
results_laps                 0
fastestLap                   0
rank                         0
race_ms                   7745
results_fastestlaptime       0
fastestLapSpeed              0
statusId                     0
status                       0
year                         0
round                        0
circuitId                    0
races_name                   0
date                         0
dstnd_points                 0
dstnd_position               0
wins                         0
lapt_lap                     0
lapt_position                0
lap_ms                       0
pit_lap                      0
pit_ms                       0
quali_position               0
sprslt_grid                  0
sprslt_position              0
sprslt_points                0
sprslt_quali_ms              0
sprslt_fastestLap          272
sprslt_fastestlaptime        0
dtype: int64

In [ ]:
#save modified dataframe to csv- directed to respository folder so that it works once this notebook is in the repository) for pulling up in machine learning model notebook
mod_final_df.to_csv("Algorithm_Ready.csv", index=False)

In [ ]:
mod_final_df.shape

(16057, 38)